{namespace h=PAGEmachine\Hairu\ViewHelpers}

<f:layout name="Default"/>
<f:section name="main">

<f:flashMessages />
<h1><f:translate key="tx_ats.loginHeader" extensionName="ats">Login</f:translate></h1>
<h:loginForm
	userStoragePageUid="{storagePid}"
	pageUid="{settings.login.page}"
	method="post"
	class="login form-inline">

	<input type="hidden" name="return_url" value="{formData.return_url}"/>
	<input type="hidden" name="redirect_url" value="{formData.redirect_url}"/>
	<input type="hidden" name="referrer" value="{formData.referrer}"/>

	<f:render partial="Form/TextField" arguments="{
		fieldName: 'user',
		fieldType: 'text',
		fieldValue: formData.user,
		translationKey: 'username',
		defaultLabel: 'Username'
	}"/>

	<f:render partial="Form/TextField" arguments="{
		fieldName: 'pass',
		fieldType: 'password',
		translationKey: 'password',
		defaultLabel: 'Password',
		additionalAttributes: {data-rsa-encryption: ''}
	}"/>

	<f:render partial="Form/SubmitButton" arguments="{
		translationKey: 'action.login',
		defaultLabel: 'Log in'
	}"/>

	<p>
		<f:link.action
			action="showPasswordResetForm"
			arguments="{start: 1}"
			pageUid="{settings.passwordReset.page}">
			<f:translate key="action.resetPassword">Reset password</f:translate>
		</f:link.action>
	</p>

</h:loginForm>
<f:if condition="{settings.registrationPage}">
	<h2><f:translate key="tx_ats.registrationHeader" extensionName="ats">Registration</f:translate></h2>
	<p><f:translate key="tx_ats.registrationText" extensionName="ats">Register here.</f:translate></p>
	<p>
		<f:link.page pageUid="{settings.registrationPage}">
			<f:translate key="tx_ats.registrationLinkText" extensionName="ats">Registration page</f:translate>
		</f:link.page>
	<p>
</f:if>

<f:if condition="{formData.referrer}">
	<f:link.external uri="{formData.referrer}">
		<f:translate key="tx_ats.returnToJob" extensionName="ats">Return to job</f:translate>
	</f:link.external>
</f:if>

</f:section>
