.crowdin.* export-ignore
.editorconfig export-ignore
.gitattributes export-ignore
.github export-ignore
.gitignore export-ignore
composer.lock export-ignore
docker-compose*.yml export-ignore
phpcs.xml export-ignore
phpunit*.xml export-ignore

Tests/ export-ignore
