<f:render partial="Backend/Message/Fields/DateTime" arguments="{
	field : 'dateTime',
	languagePath : 'mail',
	value : '{message.dateTime}'
}"/>

<f:render partial="Backend/Message/Fields/Date" arguments="{
	field : 'confirmDate',
	languagePath : 'mail',
	value : '{message.confirmDate}'
}"/>

<f:render partial="Backend/Message/Fields/Textfield" arguments="{
	field : 'building',
	languagePath : 'mail',
	value : '{message.building}'
}"/>

<f:render partial="Backend/Message/Fields/Textfield" arguments="{
	field : 'room',
	languagePath : 'mail',
	value : '{message.room}'
}"/>
