<table style="margin-left: 20mm; margin-right: 20mm;">
	<tr>
		<th style="height: 50mm;">
		</th>
	</tr>
	<tr>
		<th style="text-align: left; height: 40mm; width: 85mm; font-weight: normal; vertical-align: top;">
			<span>{application.firstname} {application.surname}</span><br>
			<span>{application.street}</span><br>
			<span>{application.zipcode}, {application.city}</span><br>
			<span>{application.country.shortNameEn}</span><br>
		</th>
		<th style="text-align: left; width: 85mm; font-weight: normal; vertical-align: top;">
		</th>
	</tr>
</table>
