{namespace core = TYPO3\CMS\Core\ViewHelpers}

<f:form action="update" object="{application}" name="application" enctype="multipart/form-data" id="application-editform">

	<f:render partial="Backend/Application/Form/Introduction" arguments="{application : application}" />
	<f:render partial="Backend/Application/Form/PersonalData" arguments="{application : application}" />
	<f:render partial="Backend/Application/Form/Qualifications" arguments="{application : application}" />
	<f:render partial="Backend/Application/Form/AdditionalInformation" arguments="{application : application}" />
	<f:render partial="Backend/Application/Form/Upload" arguments="{application : application}" />

	<f:render partial="Backend/Application/Field/SubmitButton" arguments="{
	  translationKey: 'be.label.ApplicationSingle.Edit.Submit',
	  action: 'update'
	}"/>

</f:form>
