{namespace core = TYPO3\CMS\Core\ViewHelpers}


<div class="row">
	<div class="col-md-6 summary-block table-container">
		<h3>
			<f:translate id="be.label.ApplicationSingle.Overview.PersonalData"/>
			<f:link.action action="show" target="_blank" arguments="{application: application, print: 1}" class="print">
				<img src="{f:uri.resource(path: 'Icons/btn_print.png')}" alt="{f:translate(id: 'be.label.ApplicationSingle.Overview.print')}" />
			</f:link.action>
		</h3>
		<table class="table">

			<f:render partial="Backend/Application/Field/SummaryList" arguments="{
				translationKey: 'tx_ats.label.title',
				text: '{application.title}'
			}" />

			<f:render partial="Backend/Application/Field/SummaryList" arguments="{
				translationKey: 'tx_ats.label.salutation',
				select: '{application.salutation}'
			}" />

			<f:render partial="Backend/Application/Field/SummaryList" arguments="{
				translationKey: 'tx_ats.label.firstname',
				text: '{application.firstname}'
			}" />

			<f:render partial="Backend/Application/Field/SummaryList" arguments="{
				translationKey: 'tx_ats.label.surname',
				text: '{application.surname}'
			}" />

			 <f:render partial="Backend/Application/Field/SummaryList" arguments="{
				translationKey: 'tx_ats.label.birthday',
				date: '{application.birthday}'
			}" />

			<f:render partial="Backend/Application/Field/SummaryList" arguments="{
				translationKey: 'tx_ats.be.label.disability',
				select: '{application.disability}'
			}" />

			<f:render partial="Backend/Application/Field/SummaryList" arguments="{
			translationKey: 'tx_ats.label.nationality',
			text: '{application.nationalityLabel}'
			}" />

			<f:render partial="Backend/Application/Field/SummaryList" arguments="{
				translationKey: 'tx_ats.label.street',
				text: '{application.street}'
			}" />

			<f:render partial="Backend/Application/Field/SummaryList" arguments="{
				translationKey: 'tx_ats.label.zipcode',
				text: '{application.zipcode}'
			}" />

			<f:render partial="Backend/Application/Field/SummaryList" arguments="{
				translationKey: 'tx_ats.label.city',
				text: '{application.city}'
			}" />

			<f:render partial="Backend/Application/Field/SummaryList" arguments="{
			translationKey: 'tx_ats.label.country',
			text: '{application.countryLabel}'
			}" />

			<f:render partial="Backend/Application/Field/SummaryList" arguments="{
				translationKey: 'tx_ats.label.email',
				text: '{application.email}'
			}" />

			<f:render partial="Backend/Application/Field/SummaryList" arguments="{
				translationKey: 'tx_ats.label.phone',
				text: '{application.phone}'
			}" />

			<f:render partial="Backend/Application/Field/SummaryList" arguments="{
				translationKey: 'tx_ats.label.mobile',
				text: '{application.mobile}'
			}" />

			<f:render partial="Backend/Application/Field/SummaryList" arguments="{
				translationKey: 'tx_ats.label.employed',
				select: '{application.employed}'
			}" />
		</table>
	</div>
	<div class="col-md-6 summary-block table-container">

		<h3><f:translate id="be.label.ApplicationSingle.Overview.Qualification"></f:translate></h3>

		<table class="table">

			<f:render partial="Backend/Application/Field/SummaryList" arguments="{
				translationKey: 'tx_ats.label.school_qualification',
				select: '{application.schoolQualification}'
			}" />

			<f:render partial="Backend/Application/Field/SummaryList" arguments="{
				translationKey: 'tx_ats.label.professional_qualification',
				text: '{application.professionalQualification}'
			}" />

			<f:render partial="Backend/Application/Field/SummaryList" arguments="{
				translationKey: 'tx_ats.label.professional_qualification_final_grade',
				text: '{application.professionalQualificationFinalGrade}'
			}" />

			<f:render partial="Backend/Application/Field/SummaryList" arguments="{
				translationKey: 'tx_ats.label.academic_degree',
				text: '{application.academicDegree}'
			}" />

			<f:render partial="Backend/Application/Field/SummaryList" arguments="{
				translationKey: 'tx_ats.label.academic_degree_final_grade',
				text: '{application.academicDegreeFinalGrade}'
			}" />

			<f:render partial="Backend/Application/Field/SummaryList" arguments="{
				translationKey: 'tx_ats.label.doctoral_degree',
				text: '{application.doctoralDegree}'
			}" />

			<f:render partial="Backend/Application/Field/SummaryList" arguments="{
				translationKey: 'tx_ats.label.doctoral_degree_final_grade',
				text: '{application.doctoralDegreeFinalGrade}'
			}" />

			<f:render partial="Backend/Application/Field/SummaryList" arguments="{
				translationKey: 'tx_ats.label.previous_knowledge',
				text: '{application.previousKnowledge}'
			}" />

			<f:render partial="Backend/Application/Field/SummaryList" arguments="{
				translationKey: 'tx_ats.label.it_knowledge',
				text: '{application.itKnowledge}'
			}" />

			<f:render partial="Backend/Application/Field/SummaryListLanguage" arguments="{
				languageSkills: '{application.languageSkills}'
			}" />
		</table>

	</div>
</div>

<div class="row">
	<div class="col-sm-6 summary-block table-container">
		<h3><f:translate id="be.label.ApplicationSingle.Overview.AdditionalData"></f:translate></h3>
		<table class="table">

			<f:render partial="Backend/Application/Field/SummaryList" arguments="{
				translationKey: 'tx_ats.label.comment',
				text: '{application.comment}'
			}" />

			<f:render partial="Backend/Application/Field/SummaryList" arguments="{
				translationKey: 'tx_ats.label.referrer',
				select: '{application.referrer}'
			}" />

			<f:render partial="Backend/Application/Field/SummaryList" arguments="{
				translationKey: 'tx_ats.label.forward_to_departments',
				select: '{application.forwardToDepartments}'
			}" />
		</table>
	</div>
	<div class="col-sm-6 summary-block table-container">
		<h3>Upload</h3>

		<table class="table">
			<f:render partial="Backend/Application/Field/SummaryListFiles" arguments="{
				translationKey: 'tx_ats.label.file',
				text: 'File(s)',
				application: application
			}" />
		</table>
	</div>
</div>

<f:if condition="{print}">
	<script>window.print();</script>
</f:if>

