<f:form.validationResults for="application.{fieldName}">
	<div class="form-group {f:if(condition:validationResults.errors, then:'has-error')}">
		<div class="col-sm-3">
			<f:render partial="Application/Field/Label" arguments="{fieldName : fieldName, translationKey : translationKey}" />
		</div>
		<div class="col-sm-9">
			<div class="radio">
				<label>
					<f:form.radio
					property="{fieldName}"
					value="{fieldValue1}" />
					<f:translate key="{translationKeyValue1}" />
				</label>
			</div>
			<div class="radio">
				<label>
					<f:form.radio
					property="{fieldName}"
					value="{fieldValue2}" />
					<f:translate key="{translationKeyValue2}" />
				</label>
			</div>
			<f:render partial="Application/Field/ValidationError" arguments="{fieldName : fieldName}" />
		</div>
	</div>
</f:form.validationResults>
