<div class="form-group">
	<div class="col-sm-3">
		<f:render partial="Application/Field/Label" arguments="{fieldName : fieldName, translationKey : translationKey}" />
	</div>
	<div class="col-sm-9">
		<f:if condition="{defaultCountry}">
			<f:then>
				<f:form.select property="{fieldName}" optionLabelField="localizedName" optionValueField="uid" options="{countries}" class="form-control" prependOptionLabel="{defaultCountry.localizedName}" prependOptionValue="{defaultCountry.uid}" />
			</f:then>
			<f:else>
				<f:form.select property="{fieldName}" optionLabelField="localizedName" optionValueField="uid" options="{countries}" class="form-control" />
			</f:else>
		</f:if>
	</div>
</div>

