{namespace s=SJBR\StaticInfoTables\ViewHelpers}
<div class="form-group">
	<div class="col-sm-3">
		<f:render partial="Application/Field/Label" arguments="{fieldName : fieldName, translationKey : translationKey}" />
	</div>
	<div class="col-sm-9">
		<f:if condition="{defaultCountry}">
			<f:then>
				<s:form.select name="staticInfoTablesCountry" property="{fieldName}" staticInfoTable="country" optionLabelField="shortNameLocal" options="{}" class="form-control" defaultOptionLabel="{defaultCountry.shortNameLocal}" defaultOptionValue="{defaultCountry.uid}"/>
			</f:then>
			<f:else>
				<s:form.select name="staticInfoTablesCountry" property="{fieldName}" staticInfoTable="country" optionLabelField="shortNameLocal" options="{}" class="form-control" />
			</f:else>
		</f:if>
	</div>
</div>

