{namespace ats=PAGEmachine\Ats\ViewHelpers}
<div class="form-group">
	<div class="col-sm-3">
		<f:render partial="Application/Field/Label" arguments="{fieldName : fieldName, translationKey : translationKey}" />
	</div>
	<div class="col-sm-9">
		<f:if condition="{defaultNationality}">
			<f:then>
				<ats:form.countrySelect property="{fieldName}" optionLabelField="localizedName" optionValueField="cn_iso_3" allowedStaticCountries="{settings.allowedStaticCountries}" class="form-control" prependOptionLabel="{defaultNationality.localizedName}" prependOptionValue="{defaultNationality.cn_iso_3}" />
			</f:then>
			<f:else>
				<ats:form.countrySelect property="{fieldName}" optionLabelField="localizedName" optionValueField="cn_iso_3" allowedStaticCountries="{settings.allowedStaticCountries}" class="form-control" />
			</f:else>
		</f:if>
	</div>
</div>

