<f:form.validationResults for="application.{fieldName}">
<div class="form-group {f:if(condition:validationResults.errors, then:'has-error')}">
	<div class="col-sm-3">
		<label><f:translate key="{translationKey}" /><f:if condition="{settings.validation.{fieldName}}">*</f:if></label>
	</div>
	<div class="col-sm-9">
		<f:form.textfield
			type="{fieldType}"
			property="{fieldName}"
			value="{fieldValue}"
			class="form-control" />
		<f:render partial="Application/Field/ValidationError" arguments="{fieldName : fieldName}" />
	</div>
</div>
</f:form.validationResults>
