{namespace be=TYPO3\CMS\Backend\ViewHelpers}
<table class="table table-striped table-hover table-vertical-top">
	<thead>
		<tr>
			<th><f:translate id="be.label.ApplicationSingle.Notes.Date"/></th>
			<th><f:translate id="be.label.ApplicationSingle.Notes.User"/></th>
			<th><f:translate id="be.label.ApplicationSingle.Notes.Subject"/></th>
			<th><f:translate id="be.label.ApplicationSingle.Notes.Details"/></th>
		</tr>
	</thead>
	<tbody>

		<f:for each="{notes}" as="note">
			<tr>
				<td style="min-width: 130px;">
					<f:format.date format="d.m.Y H:i">{note.creationDate}</f:format.date>
				</td>
				<td style="min-width: 160px;">
					<f:if condition="{note.user}">
						<be:avatar backendUser="{note.user.uid}" />
						{note.user.userName}
					</f:if>

				</td>
				<td style="min-width: 160px;">
					<f:translate key="tx_ats.note.subject.{note.subject}">{note.subject}</f:translate>
				<td>
					<f:if condition="{crop}">
						<f:then>
							<f:format.crop maxCharacters="100"><f:format.html>{note.details}</f:format.html></f:format.crop>
						</f:then>
						<f:else>
							<f:format.html>{note.details}</f:format.html>
						</f:else>
					</f:if>

				</td>
			</tr>
		</f:for>
	</tbody>

</table>
