{namespace core = TYPO3\CMS\Core\ViewHelpers}
<div class="collapse in" data-state="expanded" id="application-summary">
	<div class="table-fit">
		<table class="table">
			<tbody>
				<img src="{f:uri.resource(path: 'Icons/contacts.png')}" alt="{f:translate(id: 'be.label.ApplicationSingle.Overview.contacts')}"  style="float: left;" />	
				<div>
					<h2>
						<f:format.raw>{application.firstname}</f:format.raw>
						<f:format.raw>{application.surname}</f:format.raw>
					</h2>
					<br>
					<img src="{f:uri.resource(path: 'Icons/mail.png')}" alt="{f:translate(id: 'be.label.ApplicationSingle.Overview.mail')}" />
					<f:format.raw>{application.email}</f:format.raw>
					<br>
					<br>
					<img src="{f:uri.resource(path: 'Icons/phone.png')}" alt="{f:translate(id: 'be.label.ApplicationSingle.Overview.phone')}" />
					<f:format.raw>{application.phone}</f:format.raw>
					<br>
					<br>
					<img src="{f:uri.resource(path: 'Icons/location.png')}" alt="{f:translate(id: 'be.label.ApplicationSingle.Overview.location')}" />
					<f:format.raw>{application.city}</f:format.raw>
				</div>
			</tbody>
		</table>
	</div>
</div>

	<div id="ApplicationEdit" style="clear: both;">
		<p>
			<f:link.action action="new" class="btn btn-default">
			<img src="{f:uri.resource(path: 'Icons/pen.png')}" alt="{f:translate(id: 'be.label.ApplicationSingle.Overview.pen')}" />
			<f:translate key="tx_ats.be.actions.application.edit_application" />
			</f:link.action>
		</p>
	</div>