/**
 * Summary table and edit form table styling
 */

.tx-ats-backend .table-container tr:hover td {
	background-color: #f5f5f5;
}

.tx-ats-backend .table-container table {
	border-color: #ededed;
}

.tx-ats-backend .table-container tr:first-child td {
	border-top: 2px solid #ededed;
}

.tx-ats-backend .table-container td:first-child {
	border-right: 1px solid #ededed;
	width: 25%;
}

.tx-ats-backend .table-container label {
	margin: 0px;
}

.tx-ats-backend .applications-list th {
	cursor: pointer;

}

/* Application list ordering icons*/
.tx-ats-backend .applications-list th:after {
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	font-family: "FontAwesome";
}
.tx-ats-backend .applications-list th.sorting_asc:after {
	padding: 0px 5px;
	content: "\f0d8";
}
.tx-ats-backend .applications-list th.sorting_desc:after {
	padding: 0px 5px;
	content: "\f0d7";
}

.tx-ats-backend table .progress-bar{
	text-shadow: -1px 0 #0078e6, 0 1px #0078e6, 1px 0 #0078e6, 0 -1px #0078e6;
}

.tx-ats-backend .summary-element td, .tx-ats-backend #application-editform .form-element td {
	padding: 12px;
	line-height: 16px;
	border-color: #ededed;
}

.tx-ats-backend #application-editform select {
	min-width: 120px;
	max-width: 300px;
	width: auto;
}

.tx-ats-backend #application-editform legend {
	border: 0px;
	color: #000;
}

.tx-ats-backend #application-editform .languagebox {
	margin-top: 10px;
	border: 1px solid #ededed;
	background-color: #f5f5f5;
	margin-right: 10px;
}

.tx-ats-backend #application-editform .languagebox div {
	padding-top: 12px;
	padding-bottom: 12px;
}

.tx-ats-backend #application-editform .languagebox label {
	min-width: 75px;
}

.tx-ats-backend #application-editform .languagebox select {
	width: 100%;
}

.tx-ats-backend #application-editform .languagebox .remove-button {
	float: right;
}

.tx-ats-backend #application-editform .addlanguagebutton {
	padding-top: 12px;
	padding-bottom: 12px;
}

.tx-ats-backend .diff del {
	margin-right: 4px;
}

/** Applications AJAX List */
.tx-ats-backend .filter-bar {
	/* position: fixed; */
    right: 21px;
    top: 0;
    bottom: 0;
    padding: 80px 22px 22px 22px;
    /* background-color: #EEEEEE; */
/*     border-left: 3px solid #EEEEEE; */
}
#buttonNewApplication {
	position: absolute;
    right: 20px;
	top: 0px;
}

/* #application-summarya {
	position: absolute;
    right: 100px;
	top: 100px;
} */

#application-test {
	position: absolute;
    right: 200px;
	top: 100px;
}

#assignment{
	position: absolute;
    right: 850px;
	top: 0px;
}

#assignmentOptions {
	position: absolute;
    right: 800px;
	top: 50px;
}

#job{
	position: absolute;
    right: 1090px;
	top: 0px;
}

#jobOption{
	position: absolute;
    right: 1000px;
	top: 50px;
}

#status {
	position: absolute;
    right: 660px;
	top: 0px;
}

#statusOption {
	position: absolute;
    right: 500px;
	top: 50px;
 	min-width: 200px;
}

#filterReset {
	position: absolute;
    right: 275px;
	top: 59px;
}

#buttonNewApplication1 {
	text-align:right;
}

#BackToList{
	position: absolute;
    right: 40px;
 	top: 90px;
}

#applications-ajax-list tbody tr {
	cursor: pointer;
}

#applications-ajax-list tbody tr:hover {
	background-color: #daeef2;
}

#applications-ajax-list tbody td {
	padding: 14px /* 110px */;
}

/** Suchfeld */
#applications-ajax-list_filter {
	float: none;
	text-align:left;
}

#applications-ajax-list_filter input {
	border: 1px solid #000;
	padding: 12px;
	font-size: 14px;
	line-height: 24px;
	min-width: 400px;
}
#applications-ajax-list_filter ::placeholder {
	color: #c3c3c3;
	font-weight: normal;
	font-style: italic;
}

@media print {

	html, body, .module-body{
		overflow: visible;
	}
	.nav{
		display: none;
	}
	.print{
		display: none;
	}
	.panel-default{
		display: none;
		border: none;
	}

	.panel-heading{
		border: none;
	}
	.table-fit{
		border: none;
	}

	.module-docheader{
		display: none;
	}

	.collapseIcon{
		display: none;
	}

	h1{
		display: none;
	}

	.module-body{
		padding-top: 0 !important;
	}

	.panel-tab{
		border: none;
	}

	.recordlist table tr > *{
	    display: block;
	}
	.recordlist table tr {
	    display: table-cell;
	    height: 200px;
	}

	.recordlist tbody, .recordlist thead{
		display: inline-block;
	}

	.recordlist th, .recordlist td{
		border: none !important;
		border-top: 1px solid #ccc !important;
		height: 30px;
	}

	.recordlist tr{
		border: 1px solid #ccc !important;
	}

	.recordlist{
		display: block;
		border: none;
		-webkit-box-shadow: none;
		        box-shadow: none;
	}
	.recordlist > *{
		padding-left: 15px;
	}

}

