/**
 * Summary table and edit form table styling
 */

.tx-ats-backend .table-container tr:hover td {
	background-color: #f5f5f5;
}

.tx-ats-backend .table-container table {
	border-color: #ededed;
}

.tx-ats-backend .table-container tr:first-child td {
	border-top: 2px solid #ededed;
}

.tx-ats-backend .table-container td:first-child {
	border-right: 1px solid #ededed;
	width: 25%;
}

.tx-ats-backend .table-container label {
	margin: 0px;
}


.tx-ats-backend .summary-element td, .tx-ats-backend #application-editform .form-element td {
	padding: 12px;
	line-height: 16px;
	border-color: #ededed;
}

.tx-ats-backend #application-editform select {
	min-width: 120px;
	max-width: 300px;
	width: auto;
}

.tx-ats-backend #application-editform legend {
	border: 0px;
	color: #000;
}

.tx-ats-backend #application-editform .tx-ats-addlanguage {

}

.tx-ats-backend #application-editform .tx-ats-addlanguage div {
	padding-top: 12px;
	padding-bottom: 12px;
}

.tx-ats-backend #application-editform .tx-ats-addlanguage label {
	min-width: 75px;
}

.tx-ats-backend #application-editform .tx-ats-addlanguage {
	border-top: 1px solid #ededed;
}

.tx-ats-backend #application-editform .addlanguagebutton {
	padding-top: 12px;
	padding-bottom: 12px;
}

@media print {

	html, body {
		overflow: visible;
	}
	.nav{
		display: none;
	}
	.print{
		display: none;
	}
	.panel-default{
		display: none;
		border: none;
	}

	.panel-heading{
		border: none;
	}
	.table-fit{
		border: none;
	}

	.module-docheader{
		display: none;
	}

	.collapseIcon{
		display: none;
	}

	h1{
		display: none;
	}

	.module-body{
		padding-top: 0 !important;
	}

	.panel-tab{
		border: none;
	}

	.recordlist table tr > *{
	    display: block;
	}
	.recordlist table tr {
	    display: table-cell;
	    height: 200px;
	}

	.recordlist tbody, .recordlist thead{
		display: inline-block;
	}

	.recordlist th, .recordlist td{
		border: none !important;
		border-top: 1px solid #ccc !important;
		height: 30px;
	}

	.recordlist tr{
		border: 1px solid #ccc !important;
	}

	.recordlist{
		display: block;
		border: none;
		-webkit-box-shadow: none;
		        box-shadow: none;
	}
	.recordlist > *{
		padding-left: 15px;
	}

}

