
<f:layout name="Default" />

<f:section name="main">

<f:render partial="Job/JsonLd" arguments="{job : job}" />

<h1>{job.title}</h1>
<p>
	<f:format.raw>{job.description}</f:format.raw>
</p>
<f:if condition="{job.enableFormLink}">
<p>
	<f:link.action action="form" controller="Application\\Form" arguments="{job: job}" class="btn btn-primary"><f:translate key="tx_ats.job.start_application">Start Application</f:translate></f:link.action>
</p>
</f:if>
<p>
	<f:format.raw>{job.descriptionAfterLink}</f:format.raw>
</p>

<div class="row">
	<f:for each="{job.media}" as="file">
		<div class="col-sm-6">
			<f:media file="{file}" alt="{file.alternative}" title="{file.title}" width="500" height="500m" />
		</div>
	</f:for>
</div>



</f:section>
