<f:form object="{messageContainer}" name="messageContainer">
	<f:form.hidden name="messageType" value="{messageContainer.type}" />
	<f:form.hidden property="type" value="{messageContainer.type}" />
	<f:form.hidden name="action" value="newMassNotification" />
	<f:for each="{applications}" as="application">
		<f:form.hidden property="applications.{application.uid}" value="{application}" />
		<f:form.hidden name="applications[{application.uid}]" value="{application.uid}" />
	</f:for>
	<div class="panel panel-default">

		<div class="panel-heading">
			<div class="form-inline">

			</div>
		</div>

		<f:if condition="{messageContainer}">
		<f:alias map="{message : messageContainer}">

			<div class="panel-body">
				<div class="row">
					<f:if condition="{message.renderedBody}">
						<f:then>

							<div class="col-sm-6">
								<f:render partial="Backend/Message/CommonFields" arguments="{message : message, previewAction: 'newMassNotification', sendAction: 'sendMassNotification', placeholders: message.name, placeholders : placeholders}" />
							</div>

							<div class="col-sm-6">
								<div class="panel panel-info">
									<div class="panel-heading">
										<h3 class="panel-title">Preview</h3>
									</div>
									<div class="panel-body">
										<f:format.raw>{message.renderedBody}</f:format.raw>
									</div>
								</div>
							</div>

						</f:then>
						<f:else>

							<div class="col-sm-12">
								<f:render partial="Backend/Message/CommonFields" arguments="{message : message, previewAction: 'newMassNotification', sendAction: 'sendMassNotification', placeholders: message.name, placeholders : placeholders}" />
							</div>

						</f:else>

					</f:if>
				</div>
			</div>
			</f:alias>
		</f:if>

	</div>

</f:form>
