<div class="col-sm-6">

	<f:if condition="{0 : messageContainer.messages.0.sendType} == {0 : 'mail'}">
		<f:then>
			<h1><f:translate key="tx_ats.mass.emailSent"/></h1>


			<table class="applications-list table">

				<thead>
					<tr>
						<th>#</th>
						<th>Name</th>
						<th><f:translate key="tx_ats.label.email"/></th>
						<th>Message</th>
					</tr>
				</thead>

				<tbody>
					<f:for each="{messageContainer.messages}" as="message">
						<tr>
							<td>{message.application.uid}</td>
							<td>{message.application.surname}, {message.application.firstname}</td>
							<td>{message.application.email}</td>
							<td>
								<p><b>{message.subject}</b></p>
								<f:format.raw>{message.renderedBody}</f:format.raw>
							</td>
						</tr>
					</f:for>
				</tbody>

			</table>
		</f:then>
		<f:else>

			<h1><f:translate key="tx_ats.mass.pdf"/></h1>

			<table class="applications-list table">

				<thead>
					<tr>
						<th>#</th>
						<th>Name</th>
						<th class="text-right" ><a id="downloadAll" onclick="return false;"><f:translate key="tx_ats.mass.downloadAll"/></a></th>
					</tr>
				</thead>

				<tbody>
					<f:for each="{messageContainer.messages}" as="message">
						<tr>
							<td>{message.application.uid}</td>
							<td>{message.application.surname}, {message.application.firstname}</td>
							<td class="text-right" ><f:link.action action="downloadPdf" class="pdfDownload" target="_blank" arguments="{filePath: message.pdfFilePath, fileName: message.fileName}"><f:translate key="tx_ats.mass.download"/></f:link.action></td>
						</tr>
					</f:for>
				</tbody>

			</table>
		</f:else>

	</f:if>

</div>
