<f:layout name="Backend/ApplicationSingle" />

<f:section name="main">

	<h2>{f:translate(key: 'tx_ats.be.actions.application.backToPerso')}</h2>
	<label for="details">Personnel department</label>
	<f:for each="{application.job.userPa}" as="user">
		<p>{f:if(condition: '{user.realName}', then: '{user.realName} ( {user.userName} )', else: '{user.userName}')}</p>
	</f:for>
	<f:form action="sendBackToPerso" object="{application}" name="application">
		<div class="form-group">
			<f:form.hidden property="status" value="60" />
			<f:form.hidden name="note[user]" value="{beUser.uid}" />

			<label for="details">Note</label>

			<f:form.textarea name="note[details]" id="details" rows="7" class="form-control" />
		</div>

		<div class="form-group">
			<f:form.submit value="Send back" class="btn btn-primary" />
		</div>
	</f:form>


</f:section>
