
{namespace ats=PAGEmachine\Ats\ViewHelpers}
{namespace core = TYPO3\CMS\Core\ViewHelpers}
<f:layout name="Backend/Backend" />

<f:section name="main">
	<h1><f:translate key="be.label.AllApplications"/></h1>

	<p>
			<f:link.action action="new" class="btn btn-default">
				<core:icon identifier="actions-document-new" /> <f:translate key="tx_ats.be.actions.application.new" />
			</f:link.action>
	</p>

	<f:render partial="Backend/Application/FilterBar" arguments="{action : 'listAll', jobs : jobs, filter : filter}" />

	<f:render partial="Backend/Application/ListDeadlineExceeded" arguments="{applications : exceededApplications}" />
	<f:render partial="Backend/Application/ListNew" arguments="{applications : newApplications}" />
	<f:render partial="Backend/Application/ListInProgress" arguments="{applications : progressApplications}" />


</f:section>
