<f:layout name="Backend/Backend" />

<f:section name="main">

	<f:form action="create" object="{application}" name="application" enctype="multipart/form-data" id="application-editform">

		<f:render partial="Backend/Application/Form/General" arguments="{application : application, jobs : jobs}" />
		<f:render partial="Backend/Application/Form/Introduction" arguments="{application : application}" />
		<f:render partial="Backend/Application/Form/PersonalData" arguments="{application : application}" />
		<f:render partial="Backend/Application/Form/Qualifications" arguments="{application : application}" />
		<f:render partial="Backend/Application/Form/AdditionalInformation" arguments="{application : application}" />

		<f:be.infobox title="Upload"><f:translate key="tx_ats.be.new.uploadInfo" /></f:be.infobox>

		<f:render partial="Backend/Application/Field/SubmitButton" arguments="{
		  translationKey: 'be.label.ApplicationSingle.Form.Submit',
		  action: 'create'
		}"/>

	</f:form>

</f:section>
